@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

/* *********************** */
/* VARIABLES */
/* *********************** */

:root {
  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);

  --Very-Dark-Blue: hsl(234, 12%, 34%);
  --Grayish-Blue: hsl(229, 6%, 66%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
}

/* *********************** */
/* RESETS */
/* *********************** */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
picture,
video,
canvas,
svg {
  max-inline-size: 100%;
  block-size: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ol,
ul {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
}

/* *********************** */
/* LAYOUT */
/* *********************** */

body {
  font-family: "Poppins", sans-serif;
  padding: 20px;
}

.card-container {
  display: grid;
  gap: 20px;
}

/* *********************** */
/* CARD GENERAL STYLING */
/* *********************** */

.heading {
  text-align: center;
  margin-bottom: 40px;
}

h1 {
  font-weight: 300;
}

h1 span {
  font-weight: 600;
}

.card {
  min-height: 200px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 15px 4px rgba(0, 0, 0, 0.1);
}

/* *********************** */
/* CARD STYLING */
/* *********************** */

.supervisor-card {
  border-top: 2px solid var(--Cyan);
}

.team-card {
  border-top: 2px solid var(--Red);
}

.karma-card {
  border-top: 2px solid var(--Orange);
}
.calculator-card {
  border-top: 2px solid var(--Blue);
}
